<%= render "shared/error_messages", model: @question %>

<%= form_with model: @question, url: question_path, local: true do |f| %>
<div class="content-row">
  <div class= "question-row">
    <div class= "title-question">
      <%= f.text_field :title, placeholder: "タイトル", size:10*10, class:"title-question" %>
    </div>
    <div class= "text-question">
      <%= f.text_area :text, placeholder: "内容", class:"text-question",rows: "10" %>
    </div>
      <%= f.submit "変更",class:"button" %>
  </div>
  <% end %>
</div>