<div class='main'>
  <div class='title-contents'>
    <div class='service-title'>
        エンジニアに興味がある人・不安・悩み
        <p class= 'QA'>✨ここで解決✨</p>
        <p class= 'QA'>💡Q&Aサイト💡</p>
    </div>
  </div>
  <div class="flexcontainer">
    <div class="flexitem item1"></div>
    </div>
  <div class ='question-main'>
    <div class='question-contents'>
      <h4 class='title'>質問コーナー</h4>
        <%= link_to 'NEW質問集', "", class: "subtitle" %>
        <% @questions.each do |question| %>
        <div class= "questions">
          <div class= "more">
            <span><%= image_tag 'arrow_top.png' %></span>
            <ul class="more-list">
              <li class= "list">
                <%= link_to '詳細', question_path(question.id), method: :get %>
              </li>
              <% if user_signed_in? && current_user.id == question.user_id %>
                <li class= "list">
                  <%= link_to '編集', edit_question_path(question.id), method: :get %>
                </li>
                <li class= "list">
                  <%= link_to '削除', question_path(question.id), method: :delete %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class= "question-title">
              title:<%= question.title %>
          </div> 
          <div class= "question-text">
            Q:<%= link_to question.text, question_path(question.id) %>
          </div>
          <div class="question-date">
            <%= l question.created_at %>
            by<%= link_to question.user.name, user_path(question.user.id) %>
            
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>