<div class='main'>
  <div class='title-contents'>
    <div class='service-title'>
        やろう！創ろう！エンジニア！！
        <p class= 'QA'>Q&Aサイト</p>
    </div>
  </div>
    <%# <div class='service-explain'>
      <div class= 'text1'>
        <p class='aa'>これから新しく挑戦する事の不安をこの場で！！</p>
      </div>
      <div class= 'text2'>
        <p class='aa'>プログラミングにあたって不安に思っている事を一人で考えず</p>
      </div>
      <div class='text3'>
        <p class='aa'>ほら、FESで相談してみませんか！！</p>
      </div>
    </div> %>
  <div class="flexcontainer">
    <div class="flexitem item1"></div>
    </div>
  <div class ='question-main'>
    <div class='question-contents'>
      <h4 class='title'>質問コーナー</h4>
        <%= link_to 'NEW質問集', "", class: "subtitle" %>
        <% @questions.each do |question| %>
        <div class= "questions">
          <div class= "more">
            <span><%= image_tag 'arrow_top.png' %></span>
            <ul class="more-list">
              <li class= "list">
                <%= link_to '詳細', question_path(question.id), method: :get %>
              </li>
              <% if user_signed_in? && current_user.id == question.user_id %>
                <li class= "list">
                  <%= link_to '編集', edit_question_path(question.id), method: :get %>
                </li>
                <li class= "list">
                  <%= link_to '削除', question_path(question.id), method: :delete %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class= "question-title">
              title:<%= question.title %>
          </div> 
          <div class= "question-text">
            Q:<%= link_to question.text, question_path(question.id) %>
          </div>
          <div class="question-date">
            <%= question.created_at %>
            by<%= question.user.name %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>