<div class="show-box">
  <div class="box">
    <div class="q-name">
        <a href="/users/<%= @question.user.id %>">
          投稿者<%= @question.user.name %>
        </a>
    </div>
    <div class= "q-title">
      <div class= "title">title:<%= @question.title %></div>
    </div>
    <div class="user-text">
      <div class= "rr">Q:<%= @question.text %>
        <div class = "date"><%= l @question.created_at %>
          <div class="like-link" id="like-link-<%= @question.id %>">
            <% if user_signed_in? %>
              <% if current_user.id != @question.user.id %>
                <% if current_user.already_liked?(@question) %>
                  <%= link_to question_like_path(@question.id), method: :delete, remote: true do %>
                    <div class = "line_button">❤️<%= @question.likes.count %></div>
                  <% end %>
                <% else %>
                  <%= link_to question_likes_path(@question.id), method: :post, remote: true do %>
                    <div class = "line_button">♡️<%= @question.likes.count %></div>
                  <% end %>
                <% end %>
              <% else %>
                <div class = "line_button">❤️<%= @question.likes.count%></div>
              <% end %>
            <% else%>
              <div class = "line_button">❤️<%= @question.likes.count%></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  <div class="container">
    <div class = "answer-container">
      <% if user_signed_in? && current_user.id != @question.user.id %>
        <%= form_with(model: [@question, @answer], local: true) do |f| %>
          <%= f.text_area name=:text, placeholder: "回答する",class:"textarea" %>
          <%= f.submit "回答", class: "button", size: "40*40" %>
        <% end %>
       <% elsif user_signed_in? && current_user.id == @question.user.id %> 
      <% else%>
        <strong><p><%= link_to '回答するにはログイン/新規登録をしよう', user_session_path, class: 'ac' %></p></strong>
      <% end %>
      <div class= "answers">
        <h4 class= "an4">＜回答一覧＞</h4>
          <% @answers.each do |answer| %>
            <div class= "text"><%= answer.text %>
            </div>
              <div class= "g">
                <%= l answer.created_at %><strong>回答者<%= link_to answer.user.name, "/users/#{answer.user_id}", class:'ac' %></strong>
                <% if user_signed_in?%>
                  <% if current_user.id != answer.user_id %>
                    <% if @nices %>
                      <%= link_to answer_nice_path(@answers.id), method: :delete, remote: true do %>
                        <div class = "line_button">❤️<%= answer.nices.count %></div>
                      <% end %>
                    <% else %>
                      <%= link_to answer_nices_path(answer.id), method: :post, remote: true do %>
                        <div class = "line_button">♡️<%= answer.nices.count %></div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class = "line_button">❤️<%= answer.nices.count%></div>
                  <% end %>
                <% else %>
                  <div class = "line_button">❤️<%= answer.nices.count%></div>
                <% end %>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>