<div class="show-box">
  <div class="box">
  <div class="q-name">
      <a href="/users/<%= @question.user.id %>">
        投稿者<%= @question.user.name %>
      </a>
  </div>
    <div class= "q-title">
      <div class= "title">title:<%= @question.title %></div>
    </div>
    <div class="user-text">
      <div class= "rr">Q:<%= @question.text %>
        <div class = "date"><%= l @question.created_at %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <% if user_signed_in? && current_user.id != @question.user.id%>
      <%= form_with(model: [@question, @answer], local: true) do |f| %>
        <%= render 'shared/error_messages', model: @answer %>
        <%= f.text_area name= :text, placeholder: "回答する", size: "70*70", class:"text-area" %>
        <%= f.submit "回答", size: "40*40" %>
      <% end %>
    <% else %>
      <strong><p>※※※ 回答の投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="answers">
      <h4>＜回答一覧＞</h4>
      <% if @answers %>
        <% @answers.each do |answer| %>
          <p>
            <strong>回答者<%= link_to answer.user.name, "/users/#{answer.user_id}" %>：</strong>
            <%= answer.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>