<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
      <%= link_to image_tag("fes.png", class:"fes-icon"),"/" %> 
      <form class="search-form" action="#">
        <input class='input-box' placeholder='キーワードから検索'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %> 
        </button>
      </form>
      <ul class='lists-right'>
        <% if user_signed_in? %>
          <li><%= link_to 'Q:質問', new_question_path, class: "post"%>
          <li><%= link_to current_user.name, "#", class: "post"%> </li>
          <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "post"%> </li>
        <% else %>
            <li><%= link_to 'ログイン', user_session_path, class: "post" %></li>
            <li><%= link_to 'ユーザー登録', new_user_registration_path, class: "post" %></li>
        <% end %>
      </ul>
  </div>
</header>